<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %} {{ page.title }} | {% endif %} PDDL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="custom/custom-bootstrap_simple.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap-switch.css">

	<!-- Google Analytics -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
  Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47110772-1', 'pold87.github.io');
  ga('send', 'pageview');

</script>
</head>
<body>
	<!-- Navigation bar -->
	{% include header %}

	<!-- Content -->
	<div class="container center">
		{{ content }}
	</div>

	<!-- Footer -->
	<!-- {% include footer %} -->

	{% include myModal %}

	<!-- JS Plugins -->
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/bootstrap-switch.js"></script>
	<script src="js/bootstrap.js"></script>
	<!-- Modal for editor -->
	<script src="js/myScript.js"></script>

</body>
</html>
